body{
    border: groove;
    height:645px;
   background-color:#EFEBE9;
   position: absolute;
}
#search{
    background-color: #00796B;
}

#Lists{
    position: absolute
     width: 300px;
padding: 0.1px;
height:510px;
border: 4px solid white;
margin: 0;
top:45px ;
border-spacing: 5px;
color:transparent

}
#Lists h3{
    color:black;
}

#Tasklist{
   position: relative;
    margin-top:-500px;
    margin-left:340px;
    border-color: white;
    background-color: #009688;
     border-radius: 25px;
}
#Task{
   position: relative;
  margin-top:20px;
   margin-left:340px;
     border-color: white;
     background-color: #78909C;
     border-radius: 10px;


}
#Data{
    position: absolute;
    top:350px;
    text-decoration: blink;
    left: 800px;
    font-size:x-small;
    font-style: italic;
}
#Data input{
    background-color: blue;
    size:  10px;
}

#task3{
  position: relative;
    margin-top:270px;
    margin-left:345px;
     background-color: #78909C;
     border-radius:10px;

}
 #social{
   position: relative;
   margin-top:15px;
   margin-left:1150px;

 }
 #image{
     position: relative;
    margin-top:-530px;
    margin-left:1300px;
 }
 #image1{
      position: relative;
    margin-top:30px;
   margin-left:1300px;
 }
 #image2{
  position: relative;
    margin-top:15px;
    margin-left:1300px;
 }
 #image3{
    position: relative;
    margin-top:285px;
    margin-left:1300px;
 }
 #image4{
     position: relative;
    margin-top:-570px;
    margin-left:1300px;
 }
#image5{
   position: relative;
    margin-top:20px;
    margin-left:290px;
}
#image6{
   position: absolute;
    top:400px;
    left:620px;
}
#image7{
    position:absolute;
    top:400px;
    left:820px;
}





